{% extends "./base.html" %}
{% load main_tags %}
{% block title %} 
    Товары
{% endblock %}

{% block header %}
    {% include "./header.html"%}
{% endblock %}
{% block content %}        
    <h2>Товары в продаже</h2>
    <article class="row">
        
        {% for product in products %}
            <div class="card col-lg-4 mx-1 my-1 px-0" style="max-width: 20rem;">
                <h3 class="card-header bg-success text-light">{{product.name}}</h3>
                <div class="card-body">
                  <h4 class="card-title">{{product.category.name}}</h4>
                  <p class="card-text">{{product.description}}</p>                  
                </div>
                <div class="card-footer">
                    <i class="col-sm-6">{{product.price}} ₽</i>
                    <a href="/goods/{{product.id}}" class="col-sm-6 card-link btn btn-primary">Подробнее</a>
                </div>
                
              </div>
        {% endfor %}
    </article>

{% endblock %}
