{% extends "./base.html" %}
{% load main_tags %}
{% block title %} 
    Главная страница
{% endblock %}

{% block header %}
    {% include "./header.html"%}
    <div class="jumbotron">
        <h1>Добро пожаловать в магазин, {{name}}</h1>
        <p>Выбирайте, покупайте, приходите еще</p>
        <p>
            Время <span>{% current_time %}</span>
        </p>
    </div>
{% endblock %}
{% block content %}        
    <div class="row">
        <div class="col-sm-12">
            <a href="/goods">
                <button type="button" class="btn btn-primary btn-block">Посмотреть все товары</button> 
            </a>   
            
        </div>
    </div>

{% endblock %}
